<!DOCTYPE html>
<html>
    <head>

        <title>Ban Store</title>
        <link rel="stylesheet" href="style.css">
        <%= stylesheet_link_tag "style"%>
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
         <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  </p>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
            <img src="https://i.pinimg.com/originals/49/0d/7d/490d7d7e1d43eae87c665c38ca9e80f8.jpg" class="profile-img">
            <nav>
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#products">Products</a></li>
                     <li><a href="#contact">Contact</a></li>

                </ul>
            </nav>
            
        </header>
        <main>
            <section id="hero">
                <div class="section-inner">
                    <img src="https://i.pinimg.com/originals/49/0d/7d/490d7d7e1d43eae87c665c38ca9e80f8.jpg" class="profile-img">
                    <h1>Ban Chocolate Store</h1>
                    
                </div>
            </section>
            
            <section id="products">
                <div class="section-inner">
                <% if current_user.email == "ban@gmail.com"%>
               <%= link_to "Add a Store", new_store_path, { :class => "button waves-effect waves-light btn" } %>
              <%end%>
<br><br>
<table class="striped bordered">
  <tr>
    <th>Store</th>
    <th>Hometown</th>
    <th>Image</th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
    <td><%=link_to store.name, store_path(store) %></td>
        <td><%= store.hometown %></td>
          <td><%= image_tag(store.img, size: "100x100", alt: "Store Image") %></td>
          <% if current_user.email == "ban@gmail.com"%>
  
        <td><a class="btn-floating btn-large red" href="<%= edit_store_path(store) %>" >
      			<i class="large material-icons">mode_edit</i>
    		</a>
    	</td>
        <td> 
           <%= button_to "Delete", store_path(store.id), method: :delete,
              data: { confirm: "Are you sure?" } %>
    
        </td>
        <%end %>
    </tr>
  <% end %>
</table>
                </div>
            </section>
            <section id="contact">
                <div class="section-inner">
                    <h2>Contact me</h2>
                    <p>You can find me on:</p>
                    <ul>
                        <li><a href="https://twitter.com/">Twitter</a></li>
                        <li><a href="https://www.instagram.com/">Instagram</a></li>
                    </ul>
                    <p>Or, you can <a href="banstore@store.com">send me an email</a>.</p>
                </div>
            </section>
        </main>
        <footer>
            © Copyright 2019
        </footer>
    </body>
</html>






